$darkest-color: #1c1427;
$darkest-font-color: white;
$dark-color: #40394a;
$dark-font-color: white;
$light-color: #9accae;
$light-font-color: black;
$lightest-color: #b4d6c2;
$lightest-font-color: black;
