$nine-color: #1f2933;
$nine-font-color: white;
$eight-color: #323f4b;
$eight-font-color: white;
$seven-color: #3e4c59;
$seven-font-color: white;
$six-color: #52606d;
$six-font-color: white;
$five-color: #616e7c;
$five-font-color: white;
$four-color: #7b8794;
$four-font-color: black;
$three-color: #9aa5b1;
$three-font-color: black;
$two-color: #cbd2d9;
$two-font-color: black;
$one-color: #e4e7eb;
$one-font-color: black;

$primary-color: #79e2f2;
$primary-selected-color: #00a3bf;
$primary-font-color: black;
$primary-selected-font-color: black;
$secondary-color: #d3cec4;
$secondary-selected-color: #857f72;
$secondary-font-color: black;
$secondary-selected-font-color: black;

$action-primary: #303f9f;
$action-secondary: #bdbdbd;
$action-confirm: #00897b;
$action-warning: #a77c3d;
$action-error: #c62828;
$action-help: #673a87;
